

:root {
    --primary-color:#055a05; /* forest green */
    --secondary-color:#f4a261;/* warm sad */
    --accent1-color:#264653;/* Dark Blue */
    --accent2-color:#e9c46a;/* Light Golden Yellow */
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Lato", sans-serif;
}
header {
    background-color: var(--primary-color);
    color: var(--accenté-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Body {
    font-family: var(--body-font) ;
    color: var(--accent1-color);
}
header,main,footer {
    width:840px;
    margin: 0 auto;
}
h1,h2 { 
    margin: 16px;
    padding:8px;
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;

}
.here {
    position: relative;
}
.hero image {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top:20px;
    width: 100px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff /* white text- make sure there is enough contrast with the background-color*/
}
.hero {
    float: right;
    width: 125px;
}
