/* the universal selectors css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    width: 700px;
}
h1 {
    margin:1rem;
    font-size: 1.5em;
    color: rgb(11, 11, 11);
    text-align: center;
}
body {
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: goldenrod;
    background: #aaee;
}
form {
    width: 680px ;
    margin: 0 auto ;
    padding: 1rem ;
    border: 1px solid rgb (0 0 0 / O.5);
    border-radius: .7rem;
    background-color: #eee;
    display: grid;
    justify-items: left;
}
fieldset {
    display:grid;
    grid-gap:.5em;
    margin: 1rem;
    border: 1px solid rgb (0 0 0 / 0.2);
    padding: 1rem;
    justify-items: center;
}
legend {
    padding: 0.5rem;
    color: sandybrown;
    font-size: 1.3em;
}
label {
    text-align: right;
    padding-right: 1rem;
}
label, input, button, select, textarea {
    font-family: roboto, Arial, sans serif;
}
input,select,textarea {
    padding:0.5rem ;
    font-size: 1.1rem;
}
input[type="checkbox"] {
    width: 23px;;
    height: 20px;
    vertical-align: bottom;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1{
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
button {
    margin:1rem;
    background-color: rgb(5, 5, 5);
    color: #e1d8d8;
    border:none;
    border-radius: .5rem;
    padding:.80rem;
    font-size: 1.2rem;
    justify-content: right;
}
button :hover {
    background-color: darkblue;

}
footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align:center;
    font-size: 0.9em;
    color:#666;
    border-top: 1px solid #ccc;
}

