
/* Universal selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class selector */
.box {
    margin: 2rem;
    border: 1px solid rgba(60, 55, 55, 0.2);
    padding: 1rem;
    background-color: #888282;
    color: #dcd3d3;
    text-align: right;
    display: flex;
}
.li {
text-align: left;
}

nav {
    background-color:steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: ;
    color: white;
}

nav a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff (33, 23, 13);  /* this is new color: withe*/
}

h1 {
    color:white;
    font-weight: 100;
    text-align: right;
    border:2px solid rgb (0 0 0 / 0.1);
}

header,.grid, footer {
    max-width: 840px;
    margin: 0  auto;
}
.grid {
    display:grid;
    align-items:center;
}

body {
    font-family: "Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ";
    font: size 300px;
    font-weight: 400;
}
header{
    font-family: "Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ";
    font-weight: 400;
    color: #dcd3d3 solid;
}

.main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px rgb(24, 23, 23);
    border-color: #000;
}
.img {
    align-items: right;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
    text-align: justify;
    margin: 1px;
    font-family: "Belt M";
    font-weight: 400;
}

.grid {
    display: grid;
    align-items: center;
}

aside {
    width: 20rem;
    margin:1rem;
    border:2px solid rgb (0 0 0 / 0.1);/* 1️⃣ */
    padding:1rem;
    background:#eee;
    color:#333;
    text-align: center;
    position: relative;
    grid-row: 1/2;
    grid-column: 2/3;
}

aside img {
    width: 200px;
    height: auto;
}

aside {
    width: 15em;
    text-align: center;
}
aside h2{
    top: 50px;
    left: 200px
}
.aside image {
    position : absolute;
}

main img {
    width: 200px;
    border: #000 1rem;
    height: auto; 
    float: right;/* this is new position of my profile */
    justify-content: flex-end;
}

/* This code was updated by Nickson at 28th May 2025 */

p { padding: 0;}
footer{
    border-top: #000 auto;
}
footer {
    margin: 15px;
    border-top: #000 auto;
    padding-top: 10px;
    text-align: right;
    color: rgb(3, 3, 4);
    margin: 15px;
}

/* this code was updated by Nickson at 28th May 2025*/